/* ================================================ Google Font ============================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:wght@400;700&display=swap');


/* ================ Common CSS Style ======================= */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

img {
    width: 100%;
}

.container {
    max-width: 1320px;
    width: 82%;
    margin: 0 auto;
}


main section {
    margin-top: 120px;
}

.section__subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.section__title {
    font-size: 40px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 48px;
    text-transform: uppercase;
}



/* ===================================================================================================
=========== Header * Banner Section Related Style ================
====================================================================================================== */

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/BannerImage.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    margin-top: 50px;
    padding: 177px 0;
    text-align: center;
    border-radius: 16px;
}

.banner .banner__content .banner__subtitle {
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner .banner__content .banner__title {
    width: 518px;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    line-height: 80px;
    margin: 0 auto;
}


/* ===================================================================================================
=========== Categories Section Related Style ================
====================================================================================================== */
#categories {
    text-align: center;
}

.categories__content .discount {
    font-size: 72px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;
    text-transform: uppercase;
}

.categories__content .categories__img{
    width: 657px;
    margin: 0 auto;
}

/* ===================================================================================================
=========== MidNight Section Related Style ================
====================================================================================================== */

.midnight__content {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 142px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}


.midnight__content .midnight__text .midnight__title {
    color: #fff;
    width: 526px;
    font-family: 'Merriweather', serif;
    font-size: 52px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.midnight__content .midnight__text .midnight__description {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    width: 572px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.midnight__content .midnight__text .midnight__btn {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}




/* ===================================================================================================
=========== Portfolio Section Related Style ================
====================================================================================================== */

.portfolio__heading .portfolio__subtitle {
    margin-bottom: 16px;
}

.portfolio__heading .portfolio__title {
    margin-bottom: 22px;
}

.portfolio__heading .portfolio__description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.portfolio__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.portfolio__content .portfolio__item {
    width: 330px;
}

.portfolio__content .portfolio__item .portfolio__img {
    position: relative;
    transform: scale(.95);
    transition: .5s;
}

.portfolio__content .portfolio__item .portfolio__img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.portfolio__content .portfolio__item .portfolio__img .port__btn {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #FF0000;
    padding: 10px 32px;
    border-radius: 50px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}


.portfolio__content .portfolio__item .portfolio__img:hover.portfolio__img .port__btn {
    display: block;
    transition: 1s ease-in-out;
}



/* ===================================================================================================
=========== Newsletter Section Related Style ================
====================================================================================================== */

.newsletter__content {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
    text-align: center;
}

.newsletter__content .newsletter__subscribe .newsletter__img {
    width: 150px;
    height: 150px;
    margin: 0 auto 40px;
}

.newsletter__content .newsletter__subscribe .newsletter__title{
    margin-bottom: 22px;
}

.newsletter__content .newsletter__subscribe .newsletter__description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 735px;
    margin: 0 auto 48px;
    text-transform: capitalize;
}


.newsletter__content .newsletter__form{
    
}
.newsletter__content .newsletter__form form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 532px;
    margin: 0 auto;
    height: 72px;
    /* border-radius: 30px; */
}

.newsletter__content .newsletter__form form input[type="email"] {
    flex-grow: 1;
    padding: 25px 0 25px 30px;
    outline: none;
    border: 0;
    background-color: #fff;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px 0 0 50px;
}

.newsletter__content .newsletter__form form input[type="submit"] {
    padding: 21px 56px;
    background-color: #FF0000;
    outline: none;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}